@page
@using PegasusWeb.Entities
@model PegasusWeb.Pages.ContactoModel
@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h4>Contactos</h4>
    <hr />
    <a class="nav-link text-dark" asp-area="" asp-page="/CreateContacto">Crear Contacto</a>
    @*<div class="row">
        <div class="col-12">
            <div class="grid-container">
                
                    <div class="grid-column">Nombre</div>
                    <div class="grid-column">Mail</div>
                    <div class="grid-column">Telefono</div>
                    @foreach (Contactos contacto in Model.Contactos)
                    {
                        <div class="grid-item">@contacto.Nombre</div>
                        <div class="grid-item">@contacto.Mail</div>
                        <div class="grid-item">@contacto.Telefono</div>
                    }
            </div>
        </div>
    </div>*@
    @foreach (Contactos contacto in Model.Contactos)
    {
        <div class="row">
            <div class="col-4"></div>
            <div class="card col-4" style="width: 17rem; margin-top:1rem; margin-right:3rem; margin-bottom:1rem; margin-left:2rem; position:center">
                <div class="card-body">
                    <h3 class="card-title">@contacto.Nombre</h3>
                    <p class="card-text">@contacto.Mail</p>
                    <p class="card-text">@contacto.Telefono</p>
                </div>
            </div>
            <div class="col-4"></div>
        </div>
    }
</body>
</html>