@page
@using PegasusWeb.Entities
@model ListaCursosModel
@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cursos</title>
</head>
<body>
    <h4>Cursos</h4>
    <hr />
    <div class="row">
        @foreach (IntegrantesCursos curso in Model.Cursos)
        {
            <div class="col-md-3 justify-content-center">
                <form method="post" id="form-@curso.Curso.Id">
                    <div class="card card-custom card-title-center justify-content-center" style="cursor: pointer;" onclick="submitForm(@curso.Curso.Id)">
                        <input type="hidden" name="curso" value="@curso.Curso.Id" />
                        <input type="hidden" name="modulo" value="@Model.Modulo" />
                        <h5 class="card-title card-title-center" style="margin-bottom:0px;">@curso.Curso.Nombre_Curso</h5>
                        <p class="card-title card-title-center" style="margin-bottom:0px;">@curso.Curso.Grado @curso.Curso.Division @curso.Curso.Turno</p>
                        <img src="~/img/curso.png" class="card-img-top2" alt="" style=" margin: 0 auto;">
                    </div>
                    <input type="submit" id="submit-@curso.Curso.Id" name="submit" style="display:none" />
                </form>
            </div>
        }
    </div>
</body>
</html>
@section scripts{
    <script>
        function submitForm(cursoId) {
            document.getElementById('submit-' + cursoId).click();
        }
    </script>
}