@page
@using PegasusWeb.Entities
@model PegasusWeb.Pages.MateriaModel
@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Materias</title>
</head>
<body>
    <h4>Materias</h4>
    <hr />
    @if (Model.IdPerfil != 2 && Model.IdPerfil != 3 && Model.IdPerfil != 4)
    {
       <a class="btn btn-primary btn-custom" asp-page="/Materia/CreateMateria" style="margin:10px;">Crear Materia</a>
    }
    @if (ModelState.ContainsKey("materia"))
    {
    <div class="alert alert-danger">
        @foreach (var error in ModelState["materia"].Errors)
        {
            <p>@error.ErrorMessage</p>
        }
    </div>
    }
    <div class="row">
        @foreach (Entities.Materia materia in Model.Materias)
        {
            <div class="col-md-3 justify-content-center">
                <div class="card card-custom card-title-center justify-content-center">
                    <h5 class="card-title card-title-center">@materia.Nombre</h5>
                    <form method="post">
                        <input type="hidden" name="materia" value="@materia.Id" />
                        <img src="~/img/Materias.png" class="card-img-top2" alt="">
                        <br>
                        <br>
                        @if (Model.IdPerfil == 2 || Model.IdPerfil == 3 || Model.IdPerfil == 4)
                        {
                            <img src="~/img/lupa.png" class="edit-image" alt="Editar" onclick="submitForm(@materia.Id)" style="padding-bottom: 5px;" />
                        }
                        else
                        {
                            <img src="~/img/lapiz.png" class="edit-image" alt="Editar" onclick="submitForm(@materia.Id)" style="padding-bottom: 5px;" />
                            <img src="~/img/eliminar.png" class="icon" alt="Eliminar" onclick="confirmDelete(@materia.Id)" style="padding-bottom: 5px;" />
                        }
                        <input type="submit" id="submit-@materia.Id" style="display:none" />
                        <input type="hidden" id="booleano-@materia.Id" name="editar" value="true">
                    </form>
                </div>
            </div>
        }
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        @if (TempData["SuccessMessage"] != null)
        {
            <text>
                Swal.fire({
                    icon: "success",
                    title: "Guardado",
                    showConfirmButton: false,
                    width: '350px',
                    padding: '20px',
                    timer: 1500,
                    background: '#fefefe',  // Fondo claro
                    iconColor: '#00d1b2',    // Color del ícono
                    color: '#333',           // Color del texto
                    showClass: {
                        popup: 'animate__animated animate__fadeInDown'
                    },
                    hideClass: {
                        popup: 'animate__animated animate__fadeOutUp'
                    },
                    customClass: {
                        popup: 'custom-popup',   // Personaliza el estilo del contenedor
                        title: 'custom-title',   // Personaliza el estilo del título
                        icon: 'custom-icon'      // Personaliza el estilo del ícono
                    }
                });
            </text>
        }
    </script>
</body>
</html>


@section scripts{
    <script>
        function submitForm(id) {
            document.getElementById('submit-' + id).click();
        }

        function confirmDelete(id) {
            Swal.fire({
                title: "¿Estás seguro?",
                text: "¿Deseas eliminar esta materia?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: '#ff6f61', // Color del botón de confirmación
                cancelButtonColor: '#6c757d',  // Color del botón de cancelar
                confirmButtonText: 'Sí, eliminar',
                cancelButtonText: "Cancelar",
                width: '400px',
                padding: '20px',
                background: '#f0f0f5',
                color: '#333',
                iconColor: '#ff6f61',
                customClass: {
                    popup: 'modern-popup',
                    title: 'modern-title',
                    icon: 'modern-icon',
                    confirmButton: 'modern-confirm-button',
                    cancelButton: 'modern-cancel-button'
                },
                showClass: {
                    popup: 'animate__animated animate__fadeInDown'
                },
                hideClass: {
                    popup: 'animate__animated animate__fadeOutUp'
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    document.getElementById('booleano-' + id).value = false;
                    submitForm(id);
                }
            });
        }
    </script>
}